 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
 }
 
 header {
   background-color: #f0f0f0;
   width: 100%;
   position: fixed;
   z-index: 999;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 200px;
 }

 .logo {
   text-decoration: none;
   color: #3a6cf4;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 1.8em;
 }

 .navigation a {
   color: #3a6cf4;
   text-decoration: none;
   font-size: 1.1em;
   font-weight: 500;
   padding-left: 30px;
 }

 .navigation a:hover{
   color: red;
 }

 section {
   padding: 100px 200px;
 }
 .main {
   width: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;
   background: url(images/backgroundPortfolio\ \(1\).png) no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
 }
 .main h2 {
   color: #3a6cf4;
   font-size: 2em;
   font-weight: 600;
 }
 .main h2 span {
   display: inline-block;
   margin-top: 10px;
   color: black;
   font-size: 1.8em;
   font-weight: 500;
 }
.main h3 {
  color: #3a6cf4;
  font-size: 1.6em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-btn {
  color: #fff;
  background-color: rgb(25, 105, 155);
  text-decoration: none;
  font-size: 1.1em;
  font-weight:600 ;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}
.main-btn:hover{
  background-color: darkblue;
  transform: scale(1.1);
}
.social-icons a {
  color: black;
  font-size: 1.7em;
  padding-right: 30px;
}

.title {
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  width: 16em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}
.card:hover {
  transform: scale(1.1);
} 
.icon {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
}
.info {
  text-align: center;
}
.info h3 {
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
.contact .icon {
  font-size: 4.5em;
}
.contact .info h3 {
  color: #000;
}
.contact .info p {
  font-size: 1em;
}
.cv p{
  text-align: center;
  color: #000;
  font-size: 1.5em;
}
.cv a {
  color: #3a6cf4;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.3em;
}
.cv a:hover{
  color: red;
}